/*
.todotitle {
   padding-top: -20px;
   font-size: 100%;
}

.gtask .title {
   padding-top: -20px;
   font-size: 100%;
}

.gtask .tasklist {
   font-size: 80%;
   float: left;
}
.todotask {
   font-size: 80%;
   float: left;
}
*/
